<div class="container">
    <nav class="side-menu">
      <!-- <div class="bann">
        <li><a routerLink="/Home"><i class="pi pi-home" style="font-size: 1.5rem"></i> volver al inicio</a></li>
      </div> -->
      <div>
        <img src="./../../../assets/img/logo.png" class="logo"/>
        <h4>User Name</h4>
      </div>
      
      <ul>
        <li>
          <a routerLink="/Account/PerfilUsuario/MiInfo" routerLinkActive="active">
            <i class="pi pi-user" style="font-size: 1.5rem"></i>
             Catálogo
          </a>
        </li>
        <li>
          <a routerLink="/Account/PerfilUsuario/MisNegocios"  routerLinkActive="active">
            <i class="pi pi-truck" style="font-size: 1.5rem"></i> 
            proveedores
          </a>
        </li>
        <li><a href="#"><i class="pi pi-tags" style="font-size: 1.5rem"></i> Categorias</a></li>
        <li><a routerLink="/Dashboard/Familias"><i class="pi pi-sitemap" style="font-size: 1.5rem"></i> Familias</a></li>
        <li><a routerLink="/Dashboard/RegistrarUsuarios" routerLinkActive="active"><i class="pi pi-users" style="font-size: 1.5rem"></i> Registrar usuarios</a></li>
        <li><a href="#"><i class="pi pi-sign-out" style="font-size: 1.5rem"></i> cerrar sesión</a></li>
      </ul>
    </nav>
    <main class="content">
      <!-- Contenido principal de la página -->
      <router-outlet />
    </main>
  </div>